      <div class="row">
        <div class="col-lg-12">
          <div class="well text-center">
            This is a well that is a great spot for a business tagline or phone number for easy access!
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4">
          <h2>CLOUD SOLUTIONS</h2>
          <p>At Dahir Technologies we offer a wealth of experience in cloud solutions, 
              software development and project management to help make the migration to Google Apps, Office365, Amazon Web Services and Microsoft Azure.</p>
          <a class="btn btn-info" href="#">More Info</a>
        </div>
        <div class="col-lg-4">
          <h2>MOBILE APPLICATION</h2>
          <p>At Dahir Technologies we offer mobile application development services and solutions on most mobile platforms, including iOS, Android, and Windows phone for businesses worldwide</p>
          <a class="btn btn-info" href="#">More Info</a>
        </div>
        <div class="col-lg-4">
          <h2>WEB DEVELOPMENT</h2>
          <p>At Dahir Technologies we offer comprehensive web solution. We offer design and marking solutions. We assist with creating brand that best represnts your company</p>
          <a class="btn btn-info" href="#">More Info</a>
        </div>
      </div>